@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #0d0f15;
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* MAIN CONTAINER */

.main-container {
}

/* NAV CONTAINER */

.navigation-container {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 8vh;
    /* background-color: blue; */
    color: white;
    font-weight: 800;
}

.navigation-container div {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navigation-container div:first-child > img {
    margin-left: 2vw;
    margin-right: auto;
    width: 3vw;
}

.navigation-container div:last-child {
    margin-left: auto;
}

.navigation {
    display: flex;
    align-self: flex-start;
    /* background-color: red; */
}

.navigation button {
    outline: none;
    border: none;
    border-top: 3px solid transparent;
    margin: 3px 2.2vw;
    padding: 3vh 0 0 0;
    color: #4A4D50;
    font-family: Times, serif;
    font-size: 17px;
    font-weight: 500;
    background-color: transparent;
}

.activelink button {
    border-top: 3px solid white;
    font-weight: 500;
    color: white;
}

/* CONTENT CONTAINER */

.content-container {
}

/* HOME CONTAINER */

.home-container {
}

/* MINER CONTAINER */

.miner-container {

}

/* USER CONTAINER */

.user-container {
    padding: 3vh 3vw;
    background-color: grey;
}

.user-container .firstrow {
    display: flex;
    justify-content: space-between;
}

.firstrow .wallet-container {
    width: 33vw;
    background-color: red;
}

.firstrow .transaction-container {
    flex-grow: 2;
    margin-left: 2vw;
    background-color: blue;
}

