@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

canvas {
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}

/* MAIN CONTAINER */

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* NAV CONTAINER */

.navigation-container {
    display: flex;
    align-items: center;
    height: 8vh;
    color: white;
    font-weight: 800;
}

.navigation-container div {
    display: flex;
    justify-content: center;
}

.navigation-container div:first-child > img {
    margin-left: 2vw;
    margin-right: auto;
    width: 3vw;
}

.navigation-container div:last-child {
    margin-left: auto;
}

.navigation {
    display: flex;
    align-self: flex-start;
}

.navigation button {
    outline: none;
    border: none;
    border-top: 3px solid transparent;
    margin: 3px 2.2vw;
    padding: 3vh 0 0 0;
    color: #4A4D50;
    font-family: Times, serif;
    font-size: 17px;
    font-weight: 500;
    background-color: transparent;
}

.activelink button {
    border-top: 3px solid white;
    font-weight: 500;
    color: white;
}

/* CONTENT CONTAINER */

.content-container {
    flex: 2;
    display: flex;
}

.mini-divider {
    margin: .7vh 0;
    width: 1.4vw;
    height: .2vh;
    background-color: white;
}

/* HOME CONTAINER */

.home-container {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home-container h1 {
    color: rgb(214, 213, 213);
    font-size: 6vw;
    font-weight: 100;
}

.home-container span {
    font-weight: 300;
    color: white;
}

.home-container h3 {
    margin-top: 2vh;
    line-height: 3.5vh;
    font-size: 1.1vw;
    color: #b8b8b8;
}

.home-container button {
    background-color: transparent;
    padding: .9vh 1.1vw;
    border: 1px white solid;
    color: white;
    margin-top: 2vh;
    font-size: 1.1vw;
    font-weight: 700;
}

/* MINER CONTAINER */

.miner-container {
    width: 100vw;
}

.miner-inner-container {
    padding: 6vh 9vw 0vh 9vw;
    display: flex;
    justify-content: space-between;
}

.transactionpool-container {
    width: 29vw;
    height: 70vh;
    padding: 4vh 2vw;
    color: white;
    background-color: #121212;
    border-radius: 10px;
}

.blockchain-container {
    flex-grow: 2;
    height: 70vh;
    padding: 4vh 2vw;
    margin-left: 1vw;
    color: white;
    background-color: #121212;
    border-radius: 10px;
}

/* MINER: TRANSACTIONPOOL CONTAINER */
.transactionpool-container h1 {
    font-size: 1.7vw;
    font-weight: 500;
}

.transactionpool-table {
    display: flex;
    width: 100%;
    margin-top: 2.5vh;
    table-layout: fixed;
    text-align: left;
}

.transactionpool-table tbody, .transactionpool-table thead {
    display: block;
}

.transactionpool-table tbody {
    overflow-y: scroll;
    height: 55vh;
}

.transactionpool-table th {
    padding-bottom: 10px;
    text-align: left;
    font-size: 1vw;
    color: #979797;
}

.transactionpool-table td {
    padding: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    font-weight: 500;
}

.transactionpool-table .transactionpool-address {
    width: 23vw;
    max-width: 23vw;
    padding-right: 1vw;
}

.transactionpool-table .transactionpool-date {
    width: 5vw;
    max-width: 5vw;
}

/* MINER: BLOCKCHAIN CONTAINER */
.blockchain-container h1 {
    font-size: 1.7vw;
    font-weight: 500;
}

/* USER CONTAINER */

.user-container {
    width: 100vw;
}

.user-container .firstrow {
    padding: 6vh 9vw 0vh 9vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.firstrow .wallet-container {
    width: 29vw;
    height: 20vh;
    padding: 4vh 2vw;
    color: white;
    background-color: #121212;
    border-radius: 10px;
}

.firstrow .transaction-container {
    flex-grow: 2;
    height: 20vh;
    padding: 4vh 2vw;
    margin-left: 1vw;
    color: white;
    background-color: #121212;
    border-radius: 10px;
}

.user-container .secondrow {
    padding: 1vw 9vw;
}

.secondrow .history-container {
    padding: 4vh 2vw;
    height: 40vh;
    color: white;
    background-color: #121212;
    border-radius: 10px;
}

/* USER: WALLET CONTAINER */

.wallet-container h1 {
    font-size: 1.7vw;
    font-weight: 500;
}

.wallet-info {
    margin-top: 2.5vh;
    display: flex;
}

.wallet-box {
    flex-basis: 50%;
}

.wallet-box h4 {
    margin-bottom: 1vh;
    font-size: 1vw;
    color: #979797;
}

.wallet-box textarea {
    width: 90%;
    height: 13vh;
    color: white;
    background-color: transparent;
    border: none;
    resize: none;
}

.wallet-box h6 {
    font-size: 3.2vw;
    color: #F0B909;
    font-weight: 300;
    height: 13vh;
    line-height: 13vh;
}

/* USER: TRANSACTION CONTAINER */

.transaction-container h1 {
    font-size: 1.7vw;
    font-weight: 500;
}

.transaction-form {
    color: #979797;
}


.transaction-form .flex-row {
    margin: 2.7vh 0;
    display: flex;
    align-items: center;
}

.transaction-form .flex-row h4 {
    font-size: 1vw;
    flex-basis: 25%;
}

.transaction-form .flex-row input {
    width: 65%;
    height: 3vh;
    color: white;
    background-color: #222629;
    border: 0;
    border-radius: 3px;
}

.transaction-form button {
    margin-right: 4.1vw;
    float: right;
    padding: 1vh 1.1vw;
    color: #1b1b1b;
    font-size: .9vw;
    font-weight: 900;
    background-color: #F0B909;
    border: 0;
    border-radius: 2px;
}

/* USER: HISTORY CONTAINER */

.history-container h1 {
    font-size: 1.7vw;
    font-weight: 500;
}

.history-table {
    display: flex;
    width: 100%;
    margin-top: 2vh;
    table-layout: fixed;
    text-align: left;
}

.history-table tbody, .history-table thead {
    display: block;
}

.history-table tbody {
    overflow-y: scroll;
    height: 30vh;
}

.history-table th, .history-table td {
    padding: 10px 1vw 10px 0;
}

.history-table th {
    text-align: left;
    font-size: 1vw;
    color: #979797;
}

.history-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    font-weight: 500;
}

.history-table .history-date {
    width: 6vw;
    max-width: 6vw;
}

.history-table .history-recipient {
    width: 55vw;
    max-width: 55vw;
}

.history-table .history-amount {
    width: 6vw;
    max-width: 6vw;
}

.history-table .history-status {
    width: 5vw;
    max-width: 5vw;
}